@page
@model BreadOne.Pages.Portfolios.ListModel
@{
	ViewData["Title"] = "Portfolio";
}

@inject PortfolioServiceJsonFile PortfolioService;

@{
	var portfolios = PortfolioService.GetPortfolios();
}


<!-- Page Content-->
<section class="py-5">
	<div class="container px-5 my-5">
		<div class="text-center mb-5">
			<h1 class="fw-bolder">Our Work</h1>
			<p class="lead fw-normal text-muted mb-0">Company portfolio</p>
		</div>
		<div class="row gx-5">
			@if (portfolios != null)
			{
				@foreach (var portfolio in portfolios)
				{
					<div class="col-lg-6">
						<div class="position-relative mb-5">
							@*<img class="img-fluid rounded-3 mb-3" src="@portfolio.Image" alt="..." />*@
							<div class="portfolio-item-image"
						 style="background-image: url('@portfolio.Image')"></div>
							<a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">@portfolio.Title</a>
							<p class="lead fw-normal text-muted mb-0">@portfolio.Description</p>
							<div class="card-footer">
								<button class="btn btn-primary">Read More...</button>
							</div>
						</div>

					</div>
				}
			}
		</div>
	</div>
</section>
<section class="py-5 bg-light">
	<div class="container px-5 my-5">
		<h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
		<a class="btn btn-lg btn-primary" href="#!">Contact us</a>
	</div>
</section>